.pageHeader {
  padding-bottom: 10px;
}
.toolBar {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.sortBar {
  float: left;
  overflow: hidden;
  padding-right: 20px;
}
.sortBar.btn {
  width: 200px;
  padding-left: 20px;
}
.dateBar {
  float: left;
  overflow: hidden;
  padding-right: 20px;
}
.searchBar {
  float: left;
  overflow: hidden;
  padding-right: 20px;
}
.createButton {
  float: right;
  overflow: hidden;
}
.sortInput {
  float: left;
}
.icon {
  float: left;
  border-style: solid;
}
.ant-picker-header-next-btn {
  pointer-events: none;
  opacity: 0;
}
.ant-picker-header-super-next-btn {
  pointer-events: none;
  opacity: 0;
}
.ant-picker-header-prev-btn {
  pointer-events: none;
  opacity: 0;
}
.ant-picker-header-super-prev-btn {
  pointer-events: none;
  opacity: 0;
}
.disable {
  display: none;
  pointer-events: none;
  width: 0%;
}
